[Unit]
Description=Unum agent
Documentation=https://github.com/MinimSecure/unum-sdk
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/unum
Environment=PATH=/bin:/usr/bin:/usr/local/bin:/sbin/:/usr/sbin:/usr/local/sbin:/opt/unum/bin LD_LIBRARY_PATH=${LD_LIBRARY_PATH}:/opt/unum/lib
ExecStart=/opt/unum/bin/unum --cfg-file /etc/opt/unum/config.json
PIDFile=/var/run/unum-agent.pid

[Install]
WantedBy=multi-user.target
