version: 2.1
jobs:
  build-amd64:
    docker:
      - image: debian:stretch
    steps:
      - run:
          name: Install build dependencies
          command: apt-get update && apt-get install -y build-essential git libcurl4-openssl-dev libjansson-dev libnl-3-dev libnl-genl-3-dev debhelper
      - checkout
      - run:
          name: Build unum
          command: ./dist/make_dotdeb.sh "$CIRCLE_TAG"
      - run:
          name: Copy .deb to out directory
          command: cp -f ../unum-*.deb out/linux_generic
      - store_artifacts:
          path: out/linux_generic
          destination: build
  build-armhf:
    machine: true
    steps:
      - run:
          name: Install qemu-arm-static
          command: sudo apt-get update && sudo apt-get install -y qemu-user-static
      - checkout
      - run:
          name: Start armhf container
          command: docker run -v "$PWD:/root" -v /usr/bin/qemu-arm-static:/usr/bin/qemu-arm-static --rm --name builder -dti arm32v7/debian:stretch-slim
      - run:
          name: Build unum
          command: |
            docker exec -t builder /bin/bash -c 'apt-get update && apt-get install -y build-essential git libcurl4-openssl-dev libjansson-dev libnl-3-dev libnl-genl-3-dev debhelper
            ./dist/make_dotdeb.sh "$CIRCLE_TAG"
            cp -f ../unum-*.deb out/linux_generic'
      - store_artifacts:
          path: out/linux_generic
          destination: build
  build-docker:
    machine: true
    environment:
      DOCKER_TAG: "ubuntu-16.04"
    steps:
      - checkout
      - run:
          name: Build unum-builder image
          command: |
            ln -sf $(readlink -e extras/docker/dockerignore) .dockerignore
            docker image build --file extras/docker/Dockerfile.build --tag "minimsecure/unum-builder:$DOCKER_TAG" .
            mkdir -p out
            docker image save -o out/unum-builder_$DOCKER_TAG.dockerimg "minimsecure/unum-builder:$DOCKER_TAG"
      - run:
          name: Build unum image
          command: |
            ln -sf $(readlink -e extras/docker/dockerignore) .dockerignore
            docker image build --file extras/docker/Dockerfile --tag "minimsecure/unum:$DOCKER_TAG" .
            mkdir -p out
            docker image save -o out/unum_$DOCKER_TAG.dockerimg "minimsecure/unum:$DOCKER_TAG"
      - store_artifacts:
          path: out
          destination: build
      - store_artifacts:
          path: build/linux_generic/rfs
          destination: buildrfs
          when: on_fail
      - persist_to_workspace:
          root: .
          paths:
            - out/*.dockerimg
  publish-docker:
    machine: true
    environment:
      DOCKER_TAG: "ubuntu-16.04"
    steps:
      - attach_workspace:
          at: .
      - run:
          name: Load docker images
          command: |
            docker image load -i out/unum_$DOCKER_TAG.dockerimg
            docker image load -i out/unum-builder_$DOCKER_TAG.dockerimg
      - run:
          name: Push docker images
          command: |
            docker login -u $DOCKER_USER -p $DOCKER_PASS
            docker push "minimsecure/unum-builder:$DOCKER_TAG"
            docker push "minimsecure/unum:$DOCKER_TAG"
workflows:
  version: 2
  snapshot:
    jobs:
      - build-amd64
      - build-armhf
      - build-docker
      - publish-docker:
          requires:
            - build-docker
          filters:
            branches:
              only: master
  release:
    jobs:
      - build-amd64:
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/
      - build-armhf:
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/
      - build-docker:
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/
      - publish-docker:
          requires:
            - build-docker
