[Unit]
Description=Unum agent
Documentation=https://github.com/MinimSecure/unum-sdk
After=network.target

[Service]
Type=forking
User=root
WorkingDirectory=/opt/unum
Environment=PATH=${PATH}:/opt/unum/bin LD_LIBRARY_PATH=${LD_LIBRARY_PATH}:/opt/unum/lib
ExecStart=/opt/unum/bin/unum --daemonize --cfg-file /etc/opt/unum/config.json

[Install]
WantedBy=multi-user.target
